.no-result{
height:90%;
}

.fullHeight{
  height: 100%;
}

fullWidth{
  width: 100%;
}

.detail-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle{
  color: #5EBD21;
}
