ion-icon.trash-icon{
  font-size: 30px;
}

.clear-button{
  position: sticky;
  bottom: 10px;
  left:20px;
  right:20px;
}

.fullHeight{
  height: 100%;
}

.fullWidth{
  width: 100%;
}

.subtitle{
  color: #5EBD21;
}
